
.navbar-menu {
    display: flex;
}

.navbar-menu ul ul {
    display: none;
}

.navbar-menu ul li:hover > ul {
    display: block;
}

.navbar-menu div ul:nth-child(1) {
    display: flex;
}

.banner {
    height: 400px;
    background-color: aqua;
    background-image: url("assets/img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

section .categories {
    margin: 0 auto;
    max-width: 1250px
}

section .categories > .categories-content {
    display: flex;
}
    
